@model PackageDetailsModel

@{
    Layout = null;
    bool isAdmin = User.IsInRole("Admin");
}

<h2>Пачка "@Model.Name"</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        @if (!string.IsNullOrEmpty(Model.ColorName))
        {
            <dt>@Html.DisplayNameFor(model => model.ColorName)</dt>
            <dd>@Html.ActionLink(Model.ColorName, "Details", "Color", new { id = Model.ColorId }, new { })</dd>
        }

        @if (!string.IsNullOrEmpty(Model.SerialName))
        {
            <dt>@Html.DisplayNameFor(model => model.SerialName)</dt>
            <dd>@Html.ActionLink(Model.SerialName, "Details", "Serial", new { id = Model.SerialId }, new { })</dd>
        }

        @if (isAdmin)
        {
            {
                Html.RenderPartial("StatusActionsPartial", Model);
            }
        }
        else
        {
            <dt>@Html.DisplayNameFor(model => model.Status)</dt>
            <dd>@Html.DisplayFor(model => model.Status)</dd>
        }

        @if (Model.Nominal.HasValue)
        {
            <dt>@Html.DisplayNameFor(model => model.Nominal)</dt>
            <dd>@Html.DisplayFor(model => model.Nominal)</dd>
        }

        @if (Model.FirstNumber != null)
        {
            <dt>@Html.DisplayNameFor(model => model.FirstNumber)</dt>
            <dd>@Html.DisplayFor(model => model.FirstNumber)</dd>
        }

        @if (Model.TicketsCount > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.TicketsCount)</dt>
            <dd>
                <span>@Model.TicketsCount шт.</span>
                @Html.ActionLink("  (Переглянути)", "Tickets", new { id = Model.Id }, new { })
            </dd>
        }

        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <dt>@Html.DisplayNameFor(model => model.Note)</dt>
            <dd>@Html.DisplayFor(model => model.Note)</dd>
        }
    </dl>
</div>

<div class="btn-group" role="group">
    @if (Model.UnallocatedTicketsCount > 0 && Model.IsOpened && isAdmin)
    {
        @Html.HiddenFor(model => model.Id)
        <button id="unallocated-tickets" type="button" class="btn btn-link">Перемістити нерозподілені (@Model.UnallocatedTicketsCount)</button>
    }

    @if (Model.IsOpened && isAdmin)
    {
        @Html.ActionLink("Додати квитки", "CreateInPackage", "Ticket", new { id = Model.Id }, new { @class = "btn btn-link" })
    }
</div>
