@model PackageIndexModel

@{
    ViewBag.Title = "Пачки";
    bool isAdmin = User.IsInRole("Admin");
}

<h2>@ViewBag.Title</h2>
<hr />

<ul id="packages-tabs" class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="@Model.ClassAll" data-tab-parameter="All">
        <a href="@Url.Action("Index")" role="tab" 
           data-ajax="true" data-ajax-method="GET" data-ajax-update="#packages-list-table" 
           data-ajax-mode="replace" data-ajax-loading="#loading"
           data-ajax-begin="OnPaginationBegin" data-ajax-success="OnTabPaginationSuccess"
           data-tab-parameter="All">

            Всі <span class="badge">@Model.TotalPackages</span>
        </a>
    </li>

    <li role="presentation" class="@Model.ClassOpened" data-tab-parameter="Opened">
        <a href="@Url.Action("Index", new { tab = "Opened" })" role="tab"
           data-ajax="true" data-ajax-method="GET" data-ajax-update="#packages-list-table" 
           data-ajax-mode="replace" data-ajax-loading="#loading"
           data-ajax-begin="OnPaginationBegin" data-ajax-success="OnTabPaginationSuccess"
           data-tab-parameter="Opened">
        
            Відкриті <span class="badge">@Model.OpenedPackages</span>
        </a>
    </li>

    <li role="presentation" class="@Model.ClassSpecial" data-tab-parameter="Special">
        <a href="@Url.Action("Index", new { tab = "Special" })" role="tab"
           data-ajax="true" data-ajax-method="GET" data-ajax-update="#packages-list-table" 
           data-ajax-mode="replace" data-ajax-loading="#loading"
           data-ajax-begin="OnPaginationBegin" data-ajax-success="OnTabPaginationSuccess"
           data-tab-parameter="Special">
        
            Спеціальні <span class="badge">@Model.SpecialPackages</span></a>
    </li>
</ul>

@if (Model.Any())
{
    <div class="panel panel-default tab-pane">
        <div class="panel-heading">
            <a onclick="searchModal()">Пошук пачок</a>
            @if (isAdmin)
            {
                <span> | </span>
                @Html.ActionLink("Створити пачку", "Create")
                <span> | </span>
                @Html.ActionLink("Створити спеціальну пачку", "Create", new { special = true })
            }
        </div>

        @{ 
            Html.RenderPartial("IndexPartial", Model);
            Html.RenderPartial("LoadingSpinner");
        }
    </div>

    @section scripts {
        @Scripts.Render("~/Scripts/jquery.ba-bbq.min.js",
                        "~/Scripts/package-search-modal.js",
                        "~/Scripts/ajax-pagination-package.js")
    }
}
else
{
    @Html.AlertDanger("Матеріали відсутні.")
}
