@using TicketManagementSystem.Business.Enums
@model PackageIndexModel

@{ 
    PageInfo pageInfo = ViewBag.PageInfo as PageInfo;
    bool isAdmin = User.IsInRole("Admin");
}

<div id="packages-list-table">
    @Html.Hidden("SelectedTab", Model.Filter.ToString())
    @Html.Hidden("PageNumber", Model.PageInfo.PageNumber)

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <tr>
                <th>ID</th>
                <th>Назва</th>
                <th>Квитків</th>
                <th>Статус</th>

                @if (Model.Filter != PackagesFilter.Special)
                {
                    <th>Перша цифра</th>
                }
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { }) <sup>@item.Nominal</sup></td>
                    <td>@Html.DisplayFor(modelItem => item.TicketsCount)</td>
                    <td>@Html.DisplayFor(modelItem => item.Status)</td>

                    @if (Model.Filter != PackagesFilter.Special)
                    {
                        <td>@Html.DisplayFor(modelItem => item.FirstNumber)</td>
                    }
                </tr>
            }
        </table>
    </div>

    @if (Model.PageInfo.TotalPages > 1)
    {
        <div class="panel-footer">
            @Ajax.PageLinks(Model.PageInfo, x => Url.Action("Index", new
            {
                page = x,
                tab = Model.Filter.ToString()
            }), new AjaxOptions
            {
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "GET",
                UpdateTargetId = "packages-list-table",
                OnSuccess = "OnPaginationSuccess",
                OnBegin = "OnPaginationBegin",
                LoadingElementId = "loading"
            })

            <p>Сторінка @Model.PageInfo.PageNumber з @Model.PageInfo.TotalPages.</p>
        </div>
    }
</div>
