@using TicketManagementSystem.Business.Enums
@model PackageIndexModel

@{
    ViewBag.Title = "Пачки";
    PageInfo pageInfo = ViewBag.PageInfo as PageInfo;
    bool isAdmin = User.IsInRole("Admin");
}

<h2>@ViewBag.Title</h2>
<hr />

<ul class="nav nav-tabs nav-justified" role="tablist">
    <li role="presentation" class="@Model.ClassAll">
        <a href="@Url.Action("Index")" role="tab">Всі <span class="badge">@Model.TotalPackages</span></a>
    </li>

    <li role="presentation" class="@Model.ClassOpened">
        <a href="@Url.Action("Index", new { tab = "Opened" })" role="tab">Відкриті <span class="badge">@Model.OpenedPackages</span></a>
    </li>

    <li role="presentation" class="@Model.ClassSpecial">
        <a href="@Url.Action("Index", new { tab = "Special" })" role="tab">Спеціальні <span class="badge">@Model.SpecialPackages</span></a>
    </li>
</ul>

@if (Model.Any())
{
    <div class="panel panel-default tab-pane">
        <div class="panel-heading">
            <a onclick="searchModal()">Пошук пачок</a>
            @if (isAdmin)
            {
                <span> | </span>
                @Html.ActionLink("Створити пачку", "Create")
                <span> | </span>
                @Html.ActionLink("Створити спеціальну пачку", "Create", new { special = true })
            }
        </div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>ID</th>
                    <th>Назва</th>
                    <th>Квитків</th>
                    <th>Статус</th>
                    <th>Номінал</th>
                    
                    @if (Model.Filter != PackagesFilter.Special)
                    {
                        <th>Перша цифра</th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.Id)</td>
                        <td>@Html.ActionLink(item.Name, "Details", new { id = item.Id }, new { })</td>
                        <td>@Html.DisplayFor(modelItem => item.TicketsCount)</td>
                        <td>@Html.DisplayFor(modelItem => item.Status)</td>
                        <td>@Html.DisplayFor(modelItem => item.Nominal)</td>
                        
                        @if (Model.Filter != PackagesFilter.Special)
                        {
                            <td>@Html.DisplayFor(modelItem => item.FirstNumber)</td>
                        }
                    </tr>
                }
            </table>
        </div>

        @if (Model.PageInfo.TotalPages > 1)
        {
            <div class="panel-footer">
                @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new
                {
                    page = x,
                    tab = Model.Filter.ToString()
                }))
            </div>
        }
    </div>

    @section scripts {
        @Scripts.Render("~/Scripts/package-search-modal.js")
    }
}
else
{
    @Html.AlertDanger("Матеріали відсутні.")
}
