@model IEnumerable<TicketDetailsModel>

@{
    Layout = null;
    bool isAdmin = User.IsInRole("Admin");
}
<div class="modal-content">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="close">
            <span aria-hidden="true">&times;</span>
        </button>

        <h4 class="modal-title">@ViewBag.Title</h4>
    </div>

    <div class="modal-body">
        @if (Model.Any())
        {
            <div class="panel panel-default">
                <div class="panel-heading">Квитків в пачці: @Model.Count()</div>

                @if (isAdmin)
                {

                }

                <div class="table-responsive">
                    <table class="table table-hover table-bordered">
                        <tr>
                            <th><b>Номер</b></th>
                            <th><b>Дата</b></th>
                            <th><b>Примітка</b></th>
                        </tr>

                        @foreach (var item in Model)
                {
                            <tr class="@item.TrClass()">
                                <td>@Html.ActionLink(item.Number, "Details", "Ticket", new { id = item.Id }, new { })</td>
                                <td>@item.Date</td>
                                <td>@item.Note</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        }
        else
        {
            @Html.AlertDanger("В цій пачці поки що немає квитків.")
        }
    </div>
</div>
