@model ReportIndexModel

@{
    ViewBag.Title = "Звіти";
}

<h2>@ViewBag.Title</h2>
<hr />

@if (Model.LastReport != null)
{
    <div class="jumbotron">
        <h1>
            Останній звіт

            @if (Model.LastReport.IsAutomatic)
            {
                <small>Створений автоматично</small>
            }
        </h1>

        <p>Дата: @Html.DisplayDateTime(Model.LastReport.Date, "G")</p>
        <p>
            <a class="btn btn-info btn-lg" target="_blank" href="@Url.Content($"~/Files/Reports/{Model.LastReport.DefaultReportFileName()}.pdf")" role="button">Загальний звіт &raquo;</a>
            <a class="btn btn-info btn-lg" target="_blank" href="@Url.Content($"~/Files/Reports/{Model.LastReport.PackagesReportFileName()}.pdf")" role="button">Звіт по пачкам &raquo;</a>
        </p>
    </div>
}

<div class="jumbotron">
    <h1>Створити новий звіт</h1>

    <p>
        <a class="btn btn-info btn-lg" target="_blank" href="@Url.Action("DefaultReportPrint")" role="button">Переглянути загальний звіт &raquo;</a>
        <a class="btn btn-info btn-lg" target="_blank" href="@Url.Action("PackagesReportPrint")" role="button">Переглянути звіт по пачкам &raquo;</a>
    </p>

    <p>
        <a class="btn btn-primary btn-lg" href="@Url.Action("CreateReport")" role="button">Зберегти звіт</a>
    </p>
</div>

@if (!Model.ArchiveIsEmpty)
{
    <div class="jumbotron">
        <h1>Архів</h1>
        <p>Натисніть кнопку нижче, щоб переглянути архів звітів.</p>

        <p>
            <button id="archive-button" class="btn btn-info btn-lg" role="button">Переглянути архів &raquo;</button>
        </p>
    </div>
}

@section scripts {
    @Scripts.Render("~/Scripts/report-archive-modal.js")
}