@model Dictionary<string, IEnumerable<TicketManagementSystem.Business.DTO.Report.ReportDTO>>

@{
    Layout = "~/Areas/Report/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Архів звітів";
}

@if (Model.Any())
{
    <div id="accordion" role="tablist">
        @{
            int n = 0;
        }

        @foreach (var group in Model)
        {
            <div class="card">
                <div class="card-header" role="tab" id="heading-@n">
                    <h5 class="mb-0">
                        <a data-toggle="collapse" href="#collapse-@n" aria-expanded="true" aria-controls="collapse-@n">@group.Key</a>
                    </h5>
                </div>

                <div id="collapse-@n" class="collapse" role="tabpanel" aria-labelledby="heading-@n" data-parent="#accordion">
                    <div class="card-body">
                        @foreach (var report in group.Value)
                        {
                            <div class="card bg-light mb-3">
                                <div class="card-body">
                                    <h4 class="card-title">@report.Date.ToString("D")</h4>

                                    @if (report.IsAutomatic)
                                    {
                                        <h6 class="card-subtitle mb-2 text-muted">Створений автоматично</h6>
                                    }

                                    <p class="card-text">Дата: @Html.DisplayDateTime(report.Date, "G")</p>

                                    <a href="@Url.Content($"~/Files/Reports/{report.DefaultReportFileName()}.pdf")" class="card-link" target="_blank">Загальний звіт</a>
                                    <a href="@Url.Content($"~/Files/Reports/{report.PackagesReportFileName()}.pdf")" class="card-link" target="_blank">Звіт по пачкам</a>
                                </div>
                            </div>
                        }
                    </div>
                </div>
            </div>

            { n++; }
        }
    </div>
}
else
{
    @Html.AlertDanger("Поки що не було створено жодного звіту!")
}

<div><a href="~/Report">Назад</a></div>
