@model TicketManagementSystem.Business.DTO.Report.ReportDTO

@{
    // Model is LastReport.
    Layout = "~/Areas/Report/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Звіти";
}

@if (Model != null)
{
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h4 class="card-title">Останній звіт</h4>

            @if (Model.IsAutomatic)
            {
                <h6 class="card-subtitle mb-2 text-muted">Створений автоматично</h6>
            }

            <p class="card-text">Дата: @Html.DisplayDateTime(Model.Date, "G")</p>

            <a href="@Url.Content($"~/Files/Reports/{Model.DefaultReportFileName()}.pdf")" class="card-link" target="_blank">Загальний звіт</a>
            <a href="@Url.Content($"~/Files/Reports/{Model.PackagesReportFileName()}.pdf")" class="card-link" target="_blank">Звіт по пачкам</a>
        </div>
    </div>
}

@if (User.IsInRole("Admin"))
{
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h4 class="card-title">Новий звіт</h4>

            <p>
                <a href="~/Report/DefaultReportPrint" class="card-link" target="_blank">Загальний звіт</a>
                <a href="~/Report/PackagesReportPrint" class="card-link" target="_blank">Звіт по пачкам</a>
            </p>

            @using (@Html.BeginForm("CreateReport", "Report", FormMethod.Post, new { id = "save-report-form" }))
            {
                @Html.AntiForgeryToken()
                <p>
                    <button id="save-report-button" type="button" class="btn btn-primary" role="button">Зберегти звіт</button>
                </p>
            }
        </div>
    </div>
}

@if (Model != null)
{
    <div class="card bg-light mb-3">
        <div class="card-body">
            <h4 class="card-title">Архів звітів</h4>

            <p class="card-text">
                Можна переглянути архів звітів, вони згруповані за кожним місяцем.
            </p>

            <p>
                <a href="~/Report/Archive" class="btn btn-primary" role="button">Перейти до архіву</a>
            </p>
        </div>
    </div>
}

@section scripts {
    <script src="~/Scripts/report.js"></script>
}