@model TicketManagementSystem.Web.ViewModels.Serial.SerialCreateModel

@{
    ViewBag.Title = "Створити нову серію";
}

<script type="text/javascript">
    function OnBegin() {
        $("#createResult").html("");
    }

    function OnComplete(request, status) {
        $('form[id = ajaxForm]').trigger('reset');
    }
</script>

<h2>@ViewBag.Title</h2>

@using (Ajax.BeginForm("Create", null, new AjaxOptions
{
    UpdateTargetId = "createResult",
    OnComplete = "OnComplete",
    OnBegin = "OnBegin"
}, new { id = "ajaxForm" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Note, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Note, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Note, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Створити" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div id="createResult">

</div>

<div>
    @Html.ActionLink("На до списку", "Index")
</div>
