@model SerialDetailsModel

@{
    Layout = null;
    ViewBag.Title = $"Видалення серії \"{Model.Name}\"";
}

<div>
    <h2>@ViewBag.Title</h2>
    <hr />
    <div id="serial-delete-grid">
        @if (Model.PackagesCount == 0 && Model.TicketsCount == 0)
        {
            <h4>Ви дійсно хочете видалити серію "@Model.Name"</h4>

            using (Ajax.BeginForm(new AjaxOptions
            {
                UpdateTargetId = "serial-delete-grid",
                OnSuccess = "onDeletingSuccess",
                OnBegin = "OnBegin",
                OnComplete = "OnComplete",
                Confirm = $"Дійсно видалити серію \"{Model.Name}\""
            }))
            {
                @Html.AntiForgeryToken()
                @Html.HiddenFor(model => model.Id)

                <div class="form-actions no-color">
                    <input type="submit" value="Видалити" class="btn btn-danger btn-loading" data-loading-text="Видалення..." />
                </div>
                <br />
            }
        }
        else
        {
            @Html.AlertDanger("Неможливо видалити цю серію, бо є квитки та пачки, що до неї належать!")
        }
    </div>
</div>
