@model SerialDetailsModel

@{
    Layout = null;
    ViewBag.Title = $"Серія \"{Model.Name}\"";
}

@Html.Hidden("partial-view-title", (string)ViewBag.Title)

<div class="panel-heading">
    <h4 class="panel-title">@ViewBag.Title</h4>
</div>

<div class="panel-body">
    <div class="table-responsive">
        <table class="table table-information">
            <tbody>
                <tr>
                    <td>@Html.DisplayNameFor(m => m.Id)</td>
                    <td>@Html.DisplayFor(m => m.Id)</td>
                </tr>

                <tr>
                    <td>@Html.DisplayNameFor(m => m.Name)</td>
                    <td>@Html.DisplayFor(m => m.Name)</td>
                </tr>

                @if (!string.IsNullOrEmpty(Model.Note))
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.Note)</td>
                        <td>@Html.DisplayFor(m => m.Note)</td>
                    </tr>
                }

                @if (Model.PackagesCount > 0)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.PackagesCount)</td>
                        <td>
                            @Html.DisplayFor(m => m.PackagesCount)
                            <a href="#" onclick="packagesBySerialModal(@Model.Id)">   (Переглянути)</a>
                        </td>
                    </tr>
                }

                @if (Model.TicketsCount > 0)
                {
                    <tr>
                        <td>@Html.DisplayNameFor(m => m.TicketsCount)</td>
                        <td>@Html.DisplayFor(m => m.TicketsCount)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

@{ Html.RenderPartial("SerialFooterPartial", Model.Id); }
