@model SerialDetailsModel

@{
    Layout = null;
    bool isAdmin = User.IsInRole("Admin");
    ViewBag.Title = $"Серія \"{Model.Name}\"";
}

<div>
    <h2>@ViewBag.Title</h2>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        @if (Model.PackagesCount > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.PackagesCount)</dt>
            <dd>
                @Html.DisplayFor(model => model.PackagesCount)
                <a onclick="packagesBySerialModal(@Model.Id)">   (Переглянути)</a>
            </dd>
        }

        @if (Model.TicketsCount > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.TicketsCount)</dt>
            <dd>@Html.DisplayFor(model => model.TicketsCount)</dd>
        }

        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <dt>@Html.DisplayNameFor(model => model.Note)</dt>
            <dd>@Html.DisplayFor(model => model.Note)</dd>
        }
    </dl>
</div>

@*@if (Model.PackagesCount > 0)
    {
        @Html.HiddenFor(model => model.Id)
        <button id="packages-by-serial" class="btn btn-link">Список пачок</button>
    }*@