@model AccountIndexModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.UserName)</dd>

        <dt>@Html.DisplayNameFor(model => model.RoleDescription)</dt>
        <dd>@Html.DisplayFor(model => model.RoleDescription)</dd>
    </dl>

    <p><a id="login-history-button">Історія входів</a></p>
    <p><a id="change-password-button">Змінити пароль</a></p>

    @if (User.IsInRole("Admin"))
    {
        <p>@Html.ActionLink("Звіти", "Index", "Report")</p>
        <p><a href="/Todo">TODO Explorer</a></p>
    }
</div>
