@model AccountIndexModel

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Email)</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>@Html.DisplayNameFor(model => model.UserName)</dt>
        <dd>@Html.DisplayFor(model => model.UserName)</dd>

        <dt>@Html.DisplayNameFor(model => model.RoleDescription)</dt>
        <dd>@Html.DisplayFor(model => model.RoleDescription)</dd>
    </dl>

    <hr />

    @*<dl class="dl-horizontal">
        <dd><a id="login-history-button">Історія входів</a></dd>
        <dd><a id="change-password-button">Змінити пароль</a></dd>

        @if (User.IsInRole("Admin"))
        {
            <dd>@Html.ActionLink("Звіти", "Index", "Report")</dd>
            <dd><a href="/Todo">TODO Explorer</a></dd>
        }
    </dl>*@

    <div class="list-group">
        <a id="login-history-button" class="list-group-item">Історія входів</a>
        <a id="change-password-button" class="list-group-item">Змінити пароль</a>

        @if (User.IsInRole("Admin"))
        {
            @Html.ActionLink("Звіти", "Index", "Report", new { }, new { @class = "list-group-item" })
            <a class="list-group-item" href="/Todo">TODO Explorer</a>
        }
    </div>
</div>
