@model TicketManagementSystem.Web.ViewModels.Account.AccountIndexModel

<div>
    <h4>@Model.Name</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Login)</dt>
        <dd>@Html.DisplayFor(model => model.Login)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.Role)</dt>
        <dd>@Html.DisplayFor(model => model.Role)</dd>
    </dl>
</div>
<p>
    @Html.ActionLink("На головну", "Index", "Home")
</p>
