@{
    ViewBag.Title = "Головна";
}

<div class="jumbotron">
    <h1>Ticket Management System</h1>
    <p class="lead">Система управління та обліку авторською колекцією трамвайних та тролейбусних квитків з міста Дніпро.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Квитки</h2>
        <p>
            Станом на @Html.DisplayDateTime(DateTime.Now.ToUniversalTime(), "g") в колекції налічується @ViewBag.TotalCount квитків,
            з них @ViewBag.TotalOfHappy щасливих.
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Ticket")">Перейти до квитків &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Пачки</h2>
        <p>Квитки розділені на пачки. Їх зараз @ViewBag.TotalPackages.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Package")">Перейти до пачок &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Статистика</h2>
        <p>Можна переглянути статистику квитків за кольорами, серіями та першою цифрою.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Statistics")">Переглянути статистику &raquo;</a></p>
    </div>
</div>