<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title – Ticket Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Ticket MS", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Головна", "Index", "Home")</li>
                    <li>@Html.ActionLink("Кольори", "Index", "Color")</li>
                    <li>@Html.ActionLink("Серії", "Index", "Serial")</li>
                    <li>@Html.ActionLink("Пачки", "Index", "Package")</li>
                    <li>@Html.ActionLink("Квитки", "Index", "Ticket")</li>
                    <li>@Html.ActionLink("Статистика", "Index", "Statistics")</li>
                    <li>@Html.ActionLink("Звіти", "Index", "Report")</li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li>@Html.ActionLink(User.Identity.Name, "Index", "Account")</li>
                        <li>@Html.ActionLink("Вийти", "Logout", "Account")</li>
                    }
                    else
                    {
                        <li>@Html.ActionLink("Увійти", "Login", "Account")</li>
                    }
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()

        <hr />
        <footer>
            <p>&copy; 2014 - @DateTime.Now.Year – Носач Юрій</p>
        </footer>

        @Html.Partial("Modal")
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    @Scripts.Render("~/Scripts/site.js")

    @RenderSection("scripts", required: false)
</body>
</html>
