@model int?

@{
    ViewBag.Title = "Статистика";
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.6.0/js/bootstrap-datepicker.min.js" />
}

<h2>@ViewBag.Title</h2>
<p>@Html.ActionLink("Перейти до старої сторінки", "Legacy")</p>
<hr />

<p>
    Статистика станом на @Html.DisplayDateTime(DateTime.Now.ToUniversalTime(), "G")
</p>

<hr />

<div id="statistics-engine-container">
    <div id="se-page-header" class="row">
        <ul class="nav nav-pills" v-if="Pages && Pages.length > 0">
            <li role="presentation" v-bind:class="{ 'active': !CurrentPageId || CurrentPageId == 0 }">
                <a href="#" v-on:click="openPage(null)">ГОЛОВНА</a>
            </li>

            <li role="presentation" v-for="page in Pages" v-bind:class="{ 'active': page.Id == CurrentPageId }">
                <a href="#" v-on:click="openPage(page.Id)">{{page.Name}}</a>
            </li>
        </ul>
    </div>

    <div id="charts-container" class="row" v-if="Charts && Charts.length > 0">
        <div v-for="chart in Charts"
             v-bind:id="'chart-' + chart.Id"
             :class="chart.StyleClass"
             v-on:dblclick="openChartFilterModal(chart)"></div>
    </div>

    @Html.Partial("~/Views/Statistics/Engine/_ChartFilterModal.cshtml")
</div>


@section scripts {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    @Scripts.Render("~/bundles/statistics-engine/js")

    <script>
        $(document).ready(function () {
            var service = new StatisticsService();
            var business = new StatisticsBusiness(service);
            var controller = new StatisticsController(business);

            var pageId = null;

            @{
                if (Model.HasValue)
                {
                    <text>
                        pageId = @Model.Value
                    </text>
                }
            }

            controller.InitializePage(pageId);
        });
    </script>
}
