@model int?

@{
    ViewBag.Title = "Статистика";
}

<h2>@ViewBag.Title</h2>
<p>@Html.ActionLink("Перейти до старої сторінки", "Legacy")</p>
<hr />

<p>
    Статистика станом на @Html.DisplayDateTime(DateTime.Now.ToUniversalTime(), "G")
</p>

<hr />

<div id="statistics-engine-container" class="row">
    <select id="se-pages-list" name="se-pages-list" class="form-control col-md-offset-5" 
            v-if="Pages && Pages.length > 0"
            v-on:change="openPage($event)">
        <option>==ГОЛОВНА==</option>
        <option v-for="page in Pages" :value="page.Id">{{page.Name}}</option>
    </select>

    <div id="charts-container" class="row" v-if="Charts && Charts.length > 0">
        <div v-for="chart in Charts"
             v-bind:id="'chart-' + chart.Id"
             :class="chart.StyleClass"></div>
    </div>
</div>


@section scripts {
    <script src="https://www.gstatic.com/charts/loader.js"></script>
    @Scripts.Render("~/bundles/statistics-engine/js")

    <script>
        $(document).ready(function () {
            var service = new StatisticsService();
            var business = new StatisticsBusiness(service);
            var controller = new StatisticsController(business);

            var pageId = null;

            @{ 
                if (Model.HasValue)
                {
                    <text>
                        pageId = @Model.Value
                    </text>
                }
            }

            controller.InitializePage(pageId);
        });
    </script>
}
