<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewBag.Title – Ticket Management System</title>

    <link href="~/bower_components/bootstrap-4.0.0-beta.2-dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <div class="container">
            <a class="navbar-brand" href="~/Home">Ticket MS</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExampleDefault">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item"><a class="nav-link" href="~/Home">Головна</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Color">Кольори</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Serial">Серії</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Package">Пачки</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Ticket">Квитки</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Statistics">Статистика</a></li>
                    <li class="nav-item"><a class="nav-link" href="~/Report">Звіти</a></li>
                </ul>

                <ul class="nav navbar-nav navbar-right">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="nav-item"><a class="nav-link" href="~/Account">@User.Identity.Name</a></li>
                        <li class="nav-item"><a class="nav-link" href="~/Account/Logout">Вийти</a></li>
                    }
                    else
                    {
                        <li class="nav-item"><a class="nav-link" href="~/Account/Login">Увійти</a></li>
                    }
                </ul>

            </div>
        </div>
    </nav>

    <main role="main" class="container">
        <div class="mt-3">
            <h2>@ViewBag.Title</h2>
            <hr />
        </div>

        @RenderBody()

        <hr />
        <footer>
            <p>&copy; 2014 - @DateTime.Now.Year – Носач Юрій</p>
        </footer>
    </main>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/Scripts/popper.min.js")
    @Scripts.Render("~/bundles/bootstrap4")

    @Scripts.Render("~/Scripts/site.js")

    @RenderSection("scripts", required: false)
</body>
</html>
