@model TicketCreateManyModel

<dl class="dl-horizontal">
    <dt>@Html.DisplayNameFor(model => model.PackageId)</dt>
    <dd>@Html.ActionLink(Model.PackageName, "Details", "Package", new { id = Model.PackageId }, new { })</dd>
</dl>

@if (Model.CanSelectColor || Model.CanSelectSerial)
{
    <div class="form-horizontal">
        @if (Model.CanSelectColor)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.ColorId, htmlAttributes: new { @class = "control-label col-md-2"})

                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ColorId, Model.Colors, new { @class = "form-control" })
                </div>
            </div>
        }

        @if (Model.CanSelectSerial)
        {
            <div class="form-group">
                @Html.LabelFor(model => model.SerialId, htmlAttributes: new { @class = "control-label col-md-2" })

                <div class="col-md-10">
                    @Html.DropDownListFor(model => model.ColorId, Model.Series, new { @class = "form-control" })
                </div>
            </div>
        }
    </div>
}