@model TicketDetailsModel

<h2>Видалення квитка №@Model.Number</h2>

<div id="delete-result-grid">
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Number)</dt>
        <dd>@Html.DisplayFor(model => model.Number)</dd>

        @if (Model.PackageId != null)
        {
            <dt>@Html.DisplayNameFor(model => model.PackageName)</dt>
            <dd>@Html.DisplayFor(model => model.PackageName)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.ColorName)</dt>
        <dd>@Html.DisplayFor(model => model.ColorName)</dd>

        <dt>@Html.DisplayNameFor(model => model.SerialFull)</dt>
        <dd>@Html.DisplayFor(model => model.SerialFull)</dd>
    </dl>

    @using (Ajax.BeginForm(new AjaxOptions
    {
        UpdateTargetId = "delete-result-grid",
        InsertionMode = InsertionMode.Replace,
        Confirm = $"Видалити квиток №{Model.Number}?",
        OnSuccess = "onDeletingSuccess",
        OnBegin = "OnBegin",
        OnComplete = "OnComplete"
    })) {
        @Html.AntiForgeryToken()

        <h4>Ви дійсно бажаєте видалити цей квиток?</h4>

        <div class="form-actions no-color">
            <input type="submit" value="Видалити" data-loading-text="Видалення..." class="btn btn-danger btn-loading" />
        </div>
        <br />
    }
</div>
