@model TicketDetailsModel

<h2>
    Квиток №@Model.Number

    @if (Model.IsHappy)
    {
        <small>Щасливий</small>
    }
</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Number)</dt>
        <dd>@Html.DisplayFor(model => model.Number)</dd>

        @if (Model.PackageId != null)
        {
            <dt>@Html.DisplayNameFor(model => model.PackageName)</dt>
            <dd>@Html.ActionLink(Model.PackageName, "Details", "Package", new { id = Model.PackageId }, new { })</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.ColorName)</dt>
        <dd>@Html.ActionLink(Model.ColorName, "Details", "Color", new { id = Model.ColorId }, new { })</dd>

        <dt>@Html.DisplayNameFor(model => model.SerialFull)</dt>
        <dd>@Html.ActionLink(Model.SerialFull, "Details", "Serial", new { id = Model.SerialId }, new { })</dd>

        @if (!string.IsNullOrEmpty(Model.Date))
        {
            <dt>@Html.DisplayNameFor(model => model.Date)</dt>
            <dd>@Html.DisplayFor(model => model.Date)</dd>
        }

        <dt>@Html.DisplayNameFor(model => model.AddDate)</dt>
        <dd>@Html.DisplayDateTime(Model.AddDate, "d")</dd>

        @if (!string.IsNullOrEmpty(Model.Note))
        {
            <dt>@Html.DisplayNameFor(model => model.Note)</dt>
            <dd>@Html.DisplayFor(model => model.Note)</dd>
        }
    </dl>

    @if (Model.Clones != null)
    {
        @Html.HiddenFor(Model => Model.Id)
        <button id="tickets-with-number" class="btn btn-default">Квитків з таким же номером (@Model.Clones)</button>
    }
</div>
