@model TicketFilterModel

@{
    ViewBag.Title = "Пошук квитків за фільтром";

    if (Model.PageInfo?.TotalPages > 1)
    {
        ViewBag.Title += $" - сторінка {Model.PageInfo.PageNumber} з {Model.PageInfo.TotalPages}";
    }
}

<h2>Пошук квитків за фільтром</h2>
<hr />

<div class="panel panel-default">
    <div class="panel-heading">
        <span>Пошук за фільтром</span>

        @if (Model.PageInfo?.TotalItems > 0)
        {
            <span> (квитків знайдено: @Model.PageInfo.TotalItems)</span>
        }
    </div>

    @if (!Model.IsNull())
    {
        <div class="panel-body">
            <span>Фільтр:</span>
            <a href="#filter-form" class="btn btn-link" role="button" data-toggle="collapse">@Model.ToString()</a>

            <div id="filter-form" class="collapse">
                @Html.Partial("FilterFormPartial", Model)
            </div>
        </div>
    }

    @{
        Html.RenderPartial("FilterPartial", Model);
        Html.RenderPartial("LoadingSpinner");
    }
</div>

@Html.ActionLink("Назад до списку", "Index")

@section scripts {
    @Scripts.Render("~/Scripts/jquery.ba-bbq.min.js",
                    "~/Scripts/ajax-pagination-ticket.js")
}
