@model TicketIndexModel

@{
    ViewBag.Title = "Щасливі квитки";
}

@if (Model.Any())
{
    <h2>
        @ViewBag.Title
        <small>@Model.PageInfo.TotalItems шт.</small>
    </h2>
    <hr />

    <div class="panel panel-success">
        <div class="panel-heading">Щасливі квитки: @Model.PageInfo.TotalItems шт.</div>

        @{
            Html.RenderPartial("HappyPartial", Model);
            Html.RenderPartial("LoadingSpinner");
        }
    </div>
}
else
{
    <h2>@ViewBag.Title</h2>
    @Html.AlertDanger("Щасливих квитків немає.")
}

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section scripts {
    @Scripts.Render("~/Scripts/jquery.ba-bbq.min.js",
                    "~/Scripts/ajax-pagination-ticket.js")
}