@model TicketIndexModel

@{
    ViewBag.Title = "Квитки";
    bool isAdmin = User.IsInRole("Admin");
}

@if (Model.Any())
{
    <h2>
        @ViewBag.Title
        <small>@Model.PageInfo.TotalItems шт.</small>
    </h2>
    <hr />

    <div class="panel panel-default">
        <div class="panel-heading">
            @Html.ActionLink("Щасливі квитки", "Happy") | 
            @Html.ActionLink("Нерозподілені квитки", "Unallocated") |
            @Html.ActionLink("Квитки з однаковими номерами", "Clones") | 
            @Html.ActionLink("Останні квитки", "Latest") | 
            @Html.ActionLink("Сьогоднішні квитки", "Today", new { }, new { id = "link-tickets-today" }) | 
            <a id="ticket-search" onclick="searchModal()">Пошук квитків</a> | 
            @Html.ActionLink("Фільтр", "Filter")
        </div>

        @if (isAdmin)
        {
            <div class="panel-body">
                @Html.ActionLink("Додати квиток", "Create")
            </div>
        }

        @{ 
            Html.RenderPartial("IndexPartial", Model);
            Html.RenderPartial("LoadingSpinner");
        }
    </div>

    @section scripts {
        @Scripts.Render("~/Scripts/jquery.ba-bbq.min.js",
                        "~/Scripts/ticket-search-modal.js",
                        "~/Scripts/ajax-pagination-ticket.js",
                        "~/Scripts/link-tickets-today.js")
    }
}
else
{
    <h2>@ViewBag.Title</h2>
    @Html.AlertDanger("Матеріали відсутні.")
}
