@model TicketIndexModel

@{
    bool isAdmin = User.IsInRole("Admin");
}

<h2>Квитки</h2>

@if (Model.Any())
{
    <div class="panel panel-default">
        <div class="panel-heading">Всього квитків: @Model.PageInfo.TotalItems</div>

        @if (isAdmin)
        {
            <div class="panel-body">
                @Html.ActionLink("Додати квиток", "Create")
            </div>
        }

        <table class="table">
            <tr>
                <th><b>Номер</b></th>
                <th><b>Пачка</b></th>
                <th><b>Колір</b></th>
                <th><b>Серія</b></th>
                <th><b>Дата</b></th>
                <th><b>Примітка</b></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.ActionLink(item.Number, "Details", new { id = item.Id })</td>
                    <td><a href="@Url.Action("Details", "Package", new { id = item.PackageId })">@item.PackageName</a></td>
                    <td><a href="@Url.Action("Details", "Color", new { id = item.ColorId })">@item.ColorName</a></td>
                    <td><a href="@Url.Action("Details", "Serial", new { id = item.SerialId })">@item.SerialFull</a></td>
                    <td>@item.Date</td>
                    <td>@item.Note</td>
                </tr>
            }
        </table>

        <div class="panel-footer">
           @Html.PageLinks(Model.PageInfo, x => Url.Action("Index", new
           {
               page = x
           }))
        </div>
    </div>
}
else
{
    @Html.AlertDanger("Матеріали відсутні.")
}
