@model IEnumerable<TicketDetailsModel>

@{
    ViewBag.Title = "Останні квитки";
}

@if (Model.Any())
{
    <h2>
        @ViewBag.Title
        <small>@Model.Count() шт.</small>
    </h2>

    @Html.ActionLink("Сьогоднішні квитки", "Today", new { }, new { id = "link-tickets-today" })

    <hr />

    <p>
        <button id="show-summary-button" type="button" class="btn btn-default"
                data-toggle="popover" data-container="body" data-placement="bottom" data-html="true"
                data-summary-url="/api/Ticket/SummaryByLatest">
            Підсумок
        </button>
    </p>

    <div class="panel panel-info">
        <div class="panel-heading">Останні квитки: @Model.Count() шт.</div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th>Номер</th>
                        <th>Колір</th>
                        <th>Серія</th>
                        <th>Пачка</th>
                        <th>Дата</th>
                        <th>Примітка</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr class="@item.TrClass()">
                            <td>@Html.ActionLink(item.Number, "Details", new { id = item.Id }, new { })</td>
                            <td><a target="_blank" href="@Url.Action("Details", "Color", new { id = item.ColorId })">@item.ColorName</a></td>
                            <td><a target="_blank" href="@Url.Action("Details", "Serial", new { id = item.SerialId })">@item.SerialFull</a></td>
                            <td><a href="@Url.Action("Details", "Package", new { id = item.PackageId })">@item.PackageName</a></td>
                            <td>@item.Date</td>
                            <td>@item.Note</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
else
{
    <h2>@ViewBag.Title</h2>
    <hr />

    @Html.AlertDanger("З часу створення останнього звіту не було додано жодного квитка.")
}

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>

@section scripts {
    @Scripts.Render("~/Scripts/ticket-summary.js",
                    "~/Scripts/link-tickets-today.js")    
}
