@model TicketMoveModel

<h2>Перемістити квиток №@Model.Number</h2>
<hr />

@using (Ajax.BeginForm("Move", new AjaxOptions
{
    UpdateTargetId = "ticket-result",
    OnBegin = "OnBegin",
    OnComplete = "OnComplete"
}))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)
    @Html.HiddenFor(model => model.IsUnallocated)

    <div class="form-horizontal">
        <div class="form-group">
            @Html.LabelFor(model => model.Packages, htmlAttributes: new { @class = "control-label col-md-2"})

            <div class="col-md-10">
                @Html.DropDownListFor(model => model.PackageId, Model.Packages, new { @class = "form-control "})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input data-loading-text="Переміщення..." type="submit" class="btn btn-primary btn-loading" value="Перемістити" />
            </div>
        </div>
    </div>
}