@model IEnumerable<TicketManagementSystem.Business.DTO.TicketNotesDTO>

@{
    ViewBag.Title = "Примітки";
}

@if (Model.Any())
{
    <h2>
        @ViewBag.Title
        <small>@Model.Count() шт.</small>
    </h2>
    <hr />

     <div class="list-group">
        @foreach (var note in Model)
        {
        <a href="~/Ticket/Note/?note=@note.Note" class="list-group-item">
            <span>@note.Note</span>
            <span class="badge text-right">@note.TicketsCount</span>
        </a>
        }
    </div>
}
else
{
    <h2>@ViewBag.Title</h2>
    <hr />

    @Html.AlertDanger("Не додано жодного квитка з приміткою.")
}
