@model IEnumerable<TicketDetailsModel>

@{
    ViewBag.Title = "Нерозподілені квитки";
    bool isAdmin = User.IsInRole("Admin");
}


@if (Model.Any())
{
    <h2>
        @ViewBag.Title
        <small>@Model.Count() шт.</small>
    </h2>
    <hr />

    <div class="panel panel-danger">
        <div class="panel-heading">Нерозподілені квитки: @Model.Count() шт.</div>

        <div class="table-responsive">
            <table class="table table-hover table-bordered">
                <tr>
                    <th>Номер</th>
                    <th>Колір</th>
                    <th>Серія</th>
                    <th>Дата</th>
                    <th>Примітка</th>

                    @if (isAdmin)
                    {
                        <th></th>
                    }
                </tr>

                @foreach (var item in Model)
                {
                    <tr class="@item.TrClass()">
                        <td>@Html.ActionLink(item.Number, "Details", new { id = item.Id }, new { })</td>
                        <td><a target="_blank" href="@Url.Action("Details", "Color", new { id = item.ColorId })">@item.ColorName</a></td>
                        <td><a target="_blank" href="@Url.Action("Details", "Serial", new { id = item.SerialId })">@item.SerialFull</a></td>
                        <td>@item.Date</td>
                        <td>@item.Note</td>

                        @if (isAdmin)
                        {
                            <td>@Html.ActionLink("Перемістити до пачки", "Move", new { id = item.Id })</td>
                        }
                    </tr>
                }
            </table>
        </div>
    </div>
}
else
{
    <h2>@ViewBag.Title</h2>
    <hr />

    @Html.AlertDanger("Нерозподілених квитків немає.")
}

<div>
    @Html.ActionLink("Назад до списку", "Index")
</div>