@model TicketManagementSystem.Web.ColorDetailsModel

@{
    Layout = null;
    ViewBag.Title = $"Видалення кольору \"{Model.Name}\"";
}

<div>
    <h4>@ViewBag.Title</h4>
    <hr />

    @if (Model.PackagesCount == 0 && Model.TicketsCount == 0)
    {
        <h3>Ви дійсно хочете видалити колір "@Model.Name"</h3>

        using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)

            <div class="form-actions no-color">
                <input type="submit" value="Видалити" class="btn btn-default" />
            </div>
        }
    }
    else
    {
        <p>Неможливо видалити цей колір, бо є квитки та пачки, що до нього належать!</p>
    }
</div>

@Ajax.ActionLink("Редагувати колір", "Edit", new { id = Model.Id }, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "colorGrid"
})

<br />

@Ajax.ActionLink("Повернутися до кольору", "Details", new { id = Model.Id }, new AjaxOptions
{
    HttpMethod = "GET",
    UpdateTargetId = "colorGrid"
})
