@model ColorDetailsModel

@{
    Layout = null;
    ViewBag.Title = $"Колір \"{Model.Name}\"";
}

<div>
    <h2>@ViewBag.Title</h2>
    <hr />

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        @if (Model.PackagesCount > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.PackagesCount)</dt>
            <dd>
                @Html.DisplayFor(model => model.PackagesCount)
                <a onclick="packagesByColorModal(@Model.Id)">   (Переглянути)</a>
            </dd>
        }

        @if (Model.TicketsCount > 0)
        {
            <dt>@Html.DisplayNameFor(model => model.TicketsCount)</dt>
            <dd>@Html.DisplayFor(model => model.TicketsCount)</dd>
        }

    </dl>
</div>
