@model TicketManagementSystem.Web.ViewModels.Color.ColorDetailsModel

@{
    Layout = null;
    ViewBag.Title = $"Колір \"{Model.Name}\"";
}

<div>
    <h4>@ViewBag.Title</h4>
    <hr />

    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Id)</dt>
        <dd>@Html.DisplayFor(model => model.Id)</dd>

        <dt>@Html.DisplayNameFor(model => model.Name)</dt>
        <dd>@Html.DisplayFor(model => model.Name)</dd>

        <dt>@Html.DisplayNameFor(model => model.PackagesCount)</dt>
        <dd>@Html.DisplayFor(model => model.PackagesCount)</dd>

        <dt>@Html.DisplayNameFor(model => model.TicketsCount)</dt>
        <dd>@Html.DisplayFor(model => model.TicketsCount)</dd>

    </dl>
    
    @if (ViewData["isAdmin"] as bool? == true)
    {
        <p>
            @Ajax.ActionLink("Редагувати", "Edit", new { id = Model.Id, partial = true }, new AjaxOptions
            {
                HttpMethod = "GET",
                UpdateTargetId = "colorGrid"
            })


            @if (Model.PackagesCount == 0 && Model.TicketsCount == 0)
            {
                <span> | </span>

                @Ajax.ActionLink("Видалити", "Delete", new { id = Model.Id, partial = true }, new AjaxOptions
                {
                    HttpMethod = "GET",
                    UpdateTargetId = "colorGrid"
                })
            }
        </p>
    }
</div>
